{{#each user}}
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5"> {{userName}} </h2>

          <div class="card text-center">
            <div class="card-header">
              <h4>Age: {{age}}</h4>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bio</h5>
              <p class="card-text">{{bio}}</p>
            </div>
            <div class="card-footer text-muted">
              <h5>Training Goals</h5>
              <p>{{training_goals}}</p>
            </div>
          </div>
          
            <div class="d-flex justify-content-center mt-3">
              <button type="button" class="btn btn-success mx-2" id="likeButton" style="width: 100px">Like</button>
              <button type="button" class="btn btn-dark mx-2" id="dislikeButton" style="width: 100px">Dislike</button>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}