<div class="container">
  <div class="row">
    <div class="col-9 mx-auto text-center">
      <h2>Your Matches</h2>
      
      <div class="list-group text-left matchesList">
        {{#each matchData}}
        <button type="button" class="list-group-item list-group-item-action" data-match_id="{{id}}">{{User.userName}}</button>
        {{/each}}
      </div>

    </div>
  </div>
</div>

<script src="/js/matches.js"></script>