<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Create an account</h2>

          <!-- Signup form -->
          <form id="signup_form">

            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="text" id="signup_username" class="form-control form-control-lg">
              <label class="form-label" for="signup_username" style="margin-left: 0px;">Username</label>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="signup_email" class="form-control form-control-lg">
              <label class="form-label" for="signup_email" style="margin-left: 0px;">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="signup_password" class="form-control form-control-lg">
              <label class="form-label" for="signup_password" style="margin-left: 0px;">Password</label>
            </div>

            <!-- Bio input -->
            <div class="form-outline mb-4">
              <input type="text" id="signup_bio" class="form-control form-control-lg">
              <label class="form-label" for="signup_bio" style="margin-left: 0px;">Bio</label>
            </div>

            <!-- Age input -->
            <div class="form-outline mb-4">
              <input type="number" id="signup_age" class="form-control form-control-lg">
              <label class="form-label" for="signup_age" style="margin-left: 0px;">Age</label>
            </div>

            <!-- Training goals input -->
            <div class="form-outline mb-4">
              <input type="text" id="signup_goals" class="form-control form-control-lg">
              <label class="form-label" for="signup_goals" style="margin-left: 0px;">Training Goals</label>
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center">
              <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
            </div>

            <!-- Login link -->
            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/profile/login"
                class="fw-bold text-body"><u>Login here</u></a></p>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Signup form script -->
<script src="/js/signup.js"></script>